
:root {
--brand-color: #FACC15;
--dark-color: #18181B;
--mid-color: rgb(207, 143, 175);
--light-color:  rgb(255,255,255);

--base-font: Verdana, Geneva, Tahoma, sans-serif;
--brand-font: Cambria, Cochin, gergia, times, 'times new roman', serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body {
    font-family: var(--base-font);
    color: var(--dark-color);
    background: var(--light-color);
}

